body {
    background: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.style {
    max-width: 1050px;
    margin: auto;
}
.pablo {
    background-color: rgb(253, 219, 68);
    padding: 15px 15px;
    border-radius:25px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.25);
    display:flex;    
}
.photo{
    border-radius: 25px;
    width:300px;
    box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.25);
}
.pablo-text {
    margin-left: 15px; 
    width:50%;
}
.pablo-attack {
    background-color: rgb(255, 155, 155);
    border-radius: 25px;
    padding: 15px 15px;
    width: 517.5px;
    box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}
.pablo-super {
    background-color: yellow;
    border-radius: 25px;
    padding: 15px 15px;
    width: 517.5px;
    box-shadow: 4px 4px 12.5px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    margin-left: 15px;
}
.text {
    display: flex;
}
@media (max-width: 525px){
    .pablo{
        display: block;
        text-align:center;
    }
    .photo{
        width: 300px;
    }
    .pablo-text{
        margin-left: 25%;
    }    
}
@media (max-width: 1024px){
    .pablo{
        display: block;
        text-align:center;
    }
    .photo{
        width: 300px;
    }
    .pablo-text{
        margin-left: 25%;
    }    
}




